// Fonts
@font-face {
  font-family: 'bliss-regular';
  src: url(fonts/ACBliss-Regular.ttf);
}

@font-face {
  font-family: 'bliss-bold';
  src: url(fonts/ACBliss-Bold.ttf);
}

@font-face {
  font-family: 'bliss-light';
  src: url(fonts/ACBliss-Light.ttf);
}

@font-face {
  font-family: 'bliss-medium';
  src: url(fonts/ACBliss-Medium.ttf);
}

@font-face {
  font-family: 'bliss-italic';
  src: url(fonts/ACBliss-Italic.ttf);
}

// averta extra bold font
@font-face {
  font-family: 'averta-extrabold';
  src: url(fonts/averta-extrabold-webfont.eot); /* IE9 Compat Modes */
  src: url(fonts/averta-extrabold-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(fonts/averta-extrabold-webfont.woff2) format('woff2'), /* Super Modern Browsers */
       url(fonts/averta-extrabold-webfont.woff) format('woff'), /* Pretty Modern Browsers */
       url(fonts/averta-extrabold-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
}