// Fonts
@font-face {
  font-family: 'bliss-regular';
  src: url(fonts/ACBliss-Regular.ttf);
}

@font-face {
  font-family: 'bliss-bold';
  src: url(fonts/ACBliss-Bold.ttf);
}

@font-face {
  font-family: 'bliss-light';
  src: url(fonts/ACBliss-Light.ttf);
}

@font-face {
  font-family: 'bliss-medium';
  src: url(fonts/ACBliss-Medium.ttf);
}

@font-face {
  font-family: 'bliss-italic';
  src: url(fonts/ACBliss-Italic.ttf);
}

@font-face {
  font-family: 'tangerine';
  src: url(fonts/Tangerine_Regular.ttf);
}