// fonts
$icon-font-path: "fonts";
$bliss-regular: 'bliss-regular', Arial;
$bliss-bold: 'bliss-bold', Arial;
$bliss-medium: 'bliss-medium', Arial;
$bliss-light: 'bliss-light', Arial;
$bliss-italic: 'bliss-italic', Arial;
$averta-extrabold: 'averta-extrabold', Arial;
$averta-bold: 'averta-bold', Arial;
$averta-regular: 'averta-regular', Arial;

// paths
$image-path: '../images/';

// colours
$html-bg: #fff;
$light-grey: #F5F3F5;
$light-blue: #248BE9;
$yellow: #FBCD4C;

// body
$base-body-font-family: $averta-regular;
$base-body-color: #000;
$base-body-font-size: 17px;
$base-body-line-height: 22px;
$base-em-color: #545C55;

// container
$utility-container-padding-horizontal: 10px;
$utility-container-padding-horizontal-large: 25px;
$utility-container-max-width: 80%;
$utility-container-large-max-width: 700px;
$triangle-height: 30;

// headings
$base-heading-font-family: $averta-extrabold;
$base-heading-color: #231F20;
$base-margin-vertical: 15px;
$base-h1-font-size:  45px;
$base-h1-line-height: 50px;
$base-h2-font-size:  25px;
$base-h2-line-height: 30px;
$base-h3-font-size: 20px;
$base-h3-line-height: 22px;
$base-h4-font-size:  18px;
$base-h4-line-height: 22px;
$base-h5-font-size:  16px;
$base-h5-line-height: 22px;
$base-h6-font-size:  14px;
$base-h6-line-height: 17px;
$utility-heading-large-font-size: 48px;
$utility-heading-large-line-height: 48px;

// links
$base-link-color: $light-blue;
$base-link-hover-color: $light-blue;
$utility-link-muted-color: $base-body-color;
$utility-link-muted-hover-color: $base-body-color;

// images
$image-opacity: .8;

// text
$text-primary-color: #2d7091; // DONT REMOVE THIS VARIABLE, IT WILL BREAK THINGS

// main nav
$navbar-nav-font-size: 16px;
$navbar-nav-height: 40px;
$navbar-nav-font-family: $averta-bold;
$navbar-background: transparent;
$navbar-nav-color: $base-body-color;
$navbar-nav-active-background: initial;
$navbar-nav-hover-background: transparent;
$navbar-nav-active-color: $base-body-color;
$navbar-nav-onclick-background: 0;
$navbar-nav-onclick-color: $base-body-color;

// grids
$grid-gutter-horizontal: 20px;
$grid-gutter-vertical: 20px;

// buttons
$button-background: #fff;
$button-hover-background: $button-background;
$button-color: $base-link-color;
$button-hover-color: $base-link-hover-color;

// $button-primary-background:                      #00a8e6 !default;
// $button-primary-color:                           #fff !default;
// $button-primary-hover-background:                #35b3ee !default;
// $button-primary-hover-color:                     #fff !default;
// $button-primary-active-background:               #0091ca !default;
// $button-primary-active-color: 

// yellow button
$button-primary-background: $yellow;
$button-primary-hover-background: $button-primary-background;
$button-primary-active-background: $button-primary-background;
$button-primary-color: $base-body-color;
$button-primary-hover-color: $button-primary-color;
$button-primary-active-color: $button-primary-color;
