blockquote {
	padding: 10px 0;
	border-top: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	margin-left: -$utility-container-padding-horizontal;
	margin-right: -$utility-container-padding-horizontal;
	@media(min-width: $breakpoint-small){
		margin-left: 0; 
		margin-right: 0; 
	}
	p {
		font-size: 16px;
		margin-bottom: 0;
		font-family: $bliss-bold;
		i {
			font-size: 20px;
			margin-right: 8px;
		}
	}
	strong {
		&:before,
		&:after {
			content: '"';
		}
	}
}

cite {
	display: block;
	font-size: 28px;
	line-height: 31px;
	font-family: $bliss-light;
	font-style: normal;
	color: $sunrise-orange;
	border-top: 1px solid $sunrise-orange;
	border-bottom: 1px solid $sunrise-orange;
	padding: 8px 0;
	margin: 5px 0 15px;
}