.ns-form {
	// select and date boxes
	.ns-select-wrap,
	.ns-date-wrap {
		position: relative;
		input,
		select {
			position: relative;
			z-index: 1;
			background: transparent;
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			width: 100%;
			max-width: 100%;
			color: $base-link-color;
		}
		&:after {
			content: '\f078';
			position: absolute;
			right: 10px;
			top: 6px;
			font-family: FontAwesome;
			font-size: 10px;
			color: $base-link-color;
			z-index: 1;
			pointer-events: none;
		}
	}

	.ns-date-wrap {
		&:after {
			// custom image goes here
			content: '';
			@include sprite-image('site-sprite', 478px, 324px);
			background-position: 0 -301px;
			height: 23px;
			width: 23px;
		}
	}

	// fonts for certain form elements
	.ns-checkbox-wrap,
	select,
	[data-uk-datepicker] {
		font-weight: normal;
		font-family: $bliss-bold;
		font-size: $base-h4-font-size;
		line-height: $base-h4-line-height;
		color: $base-link-color;
	}
	
	// checkboxes and radio buttons
	input[type="radio"] {
		border-radius: 100%;
	}
	input[type="checkbox"] {
		border-radius: 3px;
	}
	.ns-checkbox-wrap {
		user-select: none;
	}
	input[type="radio"],
	input[type="checkbox"] {
		margin-right: 5px;
	}

	// textarea
	.ns-big-textarea,
	.ns-medium-textarea,
	.ns-small-textarea{
		width: 100%;
		min-width: 100%;		
	}

	.ns-big-textarea {
		@media(min-width: $breakpoint-medium){
	    	height: 272px;
		}
	}

	.ns-medium-textarea {
		@media(min-width: $breakpoint-medium){
	    	height: 209px;
		}
	}

	.ns-small-textarea {
		@media(min-width: $breakpoint-medium){
	    	height: 120px;
		}
	}

	// file upload
	.ns-file-upload {
		text-align: center;
		border: 1px solid $light-grey;
		flex: 1;
		width: 100%;
		padding: 10px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    min-height: 130px;
	    font-family: $bliss-bold;
	    color: $base-link-color;
	    position: relative;
	    cursor: pointer;
	    &:hover {
	    	border-color: #e9e7e9;
	    }
		& + .ns-file-upload {
			margin-top: 20px;
		}
		// progress bar
		.uk-progress {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
		}
	}

	// error
	.uk-form {
		.required,
		input.required:-webkit-autofill,
		select.required:-webkit-autofill,
		textarea.required:-webkit-autofill {
			background-color: $required!important;			
		}		
	}
	.ns-error-message {
		color: #FF2900;
	}
}

// datepicker
.js [data-uk-datepicker]{
	cursor: pointer;
	@include placeholder {
		color: $base-link-color;
	}
	&::-webkit-input-placeholder {
		color: $base-link-color;
	}
}

// form top nav
.ns-form-tab-nav {
	display: flex;
	margin: 0;
	font-size: 15px;
	> * {
		flex: 1;
		padding: 10px;
		&:before {
			content: '';
			display: block;
			border-top: 5px solid #e9e7e9;
			margin-bottom: 8px;
		}
	}
	> *:first-child {
		padding-left: 0;
	}
	.uk-active {
		&:before {
			border-color: $base-link-color;
		}
	}
}

// bottom info and submit button
.ns-form-controls {
	text-align: center;
	.uk-button {
		min-width: 110px;		
	}
	> div {
		text-align: left;
		+ .uk-button {
			margin-top: 30px;
		}
	}
}

// feedback form
.link-row {
	.ns-link-close {
		display: none;
	}
	& + .link-row {
		.ns-link-close {
			display: block;
		}
	}
}