// Custom grid styles

// variables and mixins
$event-color: #CA4D26;
$thumbnail-custom-padding-small: 10px;
$ns-grid-large-breakpoint: 1033px;

$ns-grid-large-width: 482px;
$ns-grid-large-height: 364px;

$ns-grid-medium-width: $ns-grid-large-width;
$ns-grid-medium-height: 172px;

$ns-grid-small-width: 231px;
$ns-grid-small-height: $ns-grid-medium-height;

$ns-grid-medium-vert-width: $ns-grid-small-width;
$ns-grid-medium-vert-height: $ns-grid-large-height;

$ns-grid-medium-size: $ns-grid-large-width + $grid-gutter-horizontal + $ns-grid-small-width;
$ns-grid-medium-page-size: $ns-grid-medium-size + ($utility-container-padding-horizontal-large * 2);

$ns-grid-x-large-width: 733px;
$ns-grid-x-large-height: $ns-grid-large-height;

@mixin grid-padding(){
	padding: $thumbnail-custom-padding-small;
	@media(min-width: $breakpoint-large){
		padding: 15px 20px;
	}
}

.ns-dynamic-grid-wrap {
	max-width: $breakpoint-small;
	margin: auto;
	@media(min-width: $breakpoint-medium){
		max-width: $ns-grid-large-width;
	}
	@media(min-width: $ns-grid-medium-page-size){
		max-width: $ns-grid-medium-size;
	}
	@media(min-width: $ns-grid-large-breakpoint){
		max-width: inherit;
	}
}

// hover things for articles
.ns-article.hover {
	a {
		color: $base-link-hover-color;
		img {
			opacity: $image-opacity;
		}
	}
}

// main grid
.ns-dynamic-grid {
	margin: 0 auto $grid-gutter-vertical;
	max-width: inherit;
	.js & {
		height: 1000px;		
	}
	@media(max-width: $breakpoint-medium - 1){
		height: inherit!important;
		margin-bottom: 0;
	}

	.ns-article {
		display: block;
		border-top: 4px solid #231F20;
		overflow: hidden;
		&.event {
			border-color: $event-color;
		}
		&.social {
			border-color: #007BB9;
		}
		.is-truncated {
			color: transparent;
			p {
				color: $base-body-color;
			}
			.ns-article-date {
				color: #fff;
			}
		}
	}

	.ns-grid {
		width: 100%;
		position: static!important;
		margin: 0 auto $grid-gutter-vertical;
		@media(min-width: $breakpoint-medium){
			.js & {
				position: absolute!important;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 0;				
			}
			.no-js & {
				float: left;
				margin-right: $grid-gutter-vertical;
			}
		}

		// non article grid items
		&.advert {
			border: 0;
			background: transparent;
		}
		&.event-link {
			border: 0;
			.uk-button {
				border-color: #d7d5d7;
				padding-top: 12px;
				padding-bottom: 12px;
				&:hover,
				&:focus {
					border-color: $base-link-hover-color;
				}
				i {
					font-size: 20px;
				}
			}
		}
	}

	// hide responsive images if no js
	[data-sizes]{
		.no-js & {
			display: none;
		}
	}

	// large box 482x364
	.ns-large,
	.ns-x-large {
		@media(min-width: $breakpoint-medium){
			height: $ns-grid-large-height;			
			width: $ns-grid-large-width;
		}
		// img wrap
		> a {
			display: block;
		}
		// img {
		// 	height: 176px; // if responsive images fail
		// 	width: 480px; // if responsive images fail
		// 	@media(min-width: $breakpoint-medium){
		// 		height: inherit;
		// 		width: inherit;
		// 	}
		// }
		.uk-thumbnail-caption {
			@media(min-width: $breakpoint-medium){
				height: 118px;
			}
		}
	}

	// extra large box 733x364
	.ns-x-large {
		@media(min-width: $breakpoint-medium){
			width: $ns-grid-x-large-width;
		}
	}

	// small and medium box
	.ns-medium,
	.ns-small {
		> a {
			margin-right: $thumbnail-custom-padding-small;
			float: left;
			height: 127px;
			width: 142px;
			@media(min-width: $breakpoint-medium){
				margin-right: 0;
				float: none;
			}
		}
		> a + .uk-thumbnail-caption {
			height: 127px; // match height of image
			.ns-article-date {
				max-width: 40%;
				font-size: 12px;
				padding: 5px 5px;
				margin: 0 0 5px;
				@media(min-width: $breakpoint-small){
					font-size: inherit;
					padding: 5px 10px;
					margin-bottom: $base-margin-vertical;
				}
			}
		}
		@media(min-width: $breakpoint-medium){
			.uk-thumbnail-caption {
				height: inherit;
			}
		}
	}

	// small box 231x172
	.ns-small {
		@media(min-width: $breakpoint-medium){
			height: $ns-grid-small-height;
			width: $ns-grid-small-width;
			// if this has an image, set a height on the caption
			> a {
				display: block;
				width: $ns-grid-small-width;
				height: 100px;
			}
			> a + .uk-thumbnail-caption {
				height: 68px;
				h3 {
					margin-bottom: 0;
					line-height: $base-h3-font-size;
				}
			}
		}
	}

	// medium box 482x172
	.ns-medium {
		@media(min-width: $breakpoint-medium){
		height: $ns-grid-medium-height;
		width: $ns-grid-medium-width;
			> a,
			> a + .uk-thumbnail-caption {
				float: left;
				width: 52%;
				height: 100%;
				.ns-article-date {
					max-width: inherit;
				}
			}
			> a + .uk-thumbnail-caption {
				width: 48%;
			}
		}
	}
	
	// medium vertical box 231x482
	.ns-medium-vertical {
		height: $ns-grid-medium-vert-height;
		&.ns-scrollable-wrap {
			height: auto;
		}
		@media(min-width: $breakpoint-medium){
			&.ns-scrollable-wrap {
				height: $ns-grid-medium-vert-height;
			}
			width: $ns-grid-medium-vert-width;
		}
	}
	
	// medium vertical box auto height 231xauto
	.ns-medium-vertical-auto {
		@media(min-width: $breakpoint-medium){
			width: $ns-grid-medium-vert-width;
		}
	}

	// advert
	.advert {
		text-align: center; 
		> a {
			float: none;
			display: inline-block;
			width: inherit;
			height: inherit;
			margin: 0;
		}
	}

	// article
	.uk-thumbnail-caption {
		text-align: left;
		@include grid-padding();
	}

	// event
	.event {
		&.ns-large,
		&.ns-x-large {
			.uk-thumbnail-caption {
				@media(min-width: $breakpoint-medium){
					height: 118px;
				}
				p {
					margin-bottom: 0;
				}
				.ns-article-date {
					margin-bottom: $base-margin-vertical / 2;
				}
			}
		}
		.ns-article-date {
			// padding: 2px 15px 2px 3px;
		}
	}

	// social
	.social {
		border-color: #007BB9;
		.uk-thumbnail-caption {
			// social article title
			h3 a {
				color: $base-body-color;
				font-family: $base-body-font-family;
				font-size: $base-body-font-size;
				line-height: $base-body-line-height;
				display: block;
				&:hover {
					color: $base-link-hover-color;
					text-decoration: none;
				}
				&:before {
					font-family: FontAwesome;
					margin-right: 5px;
					float: left;
					font-size: 20px;
					line-height: 22px;
					color: $base-link-color;
				}
			}
			// time and links at the bottom of social articles
			.ns-social-meta {
				.ns-date-time {
					float: left;
				}
				.ns-links {
					float: right;
					li {
						float: left;
						margin-left: 5px;
					}
					a:hover,
					a:focus {
						text-decoration: none;
					}
				}
			}
		}
		&.hover {
			.uk-thumbnail-caption h3 a {				
				color: $base-link-hover-color;
				text-decoration: none;
			}
		}
		&.ns-medium-vertical-auto {
			h3 {
				// social title
				a {
					font-family: $bliss-bold;
					&:before {
						@media(min-width: $breakpoint-medium){
							margin-bottom: 3px;
						}
					}
				}
				// social image
				& + a {
					display: none;
					@media(min-width: $breakpoint-medium){
						display: block;
					}
					position: relative;
					margin-left: -$thumbnail-custom-padding-small;
					margin-right: -$thumbnail-custom-padding-small;
					margin-bottom: $grid-gutter-vertical;
					@media(min-width: $breakpoint-large){
						margin-left: -$thumbnail-custom-padding;
						margin-right: -$thumbnail-custom-padding;
					}
				}
			}
		}
	}
	.facebook {
		.uk-thumbnail-caption {
			h3 a:before {
				content: '\f09a';
			}
		}
	}
	.twitter {
		.uk-thumbnail-caption {
			h3 a:before {
				content: '\f099';
				margin-bottom: 3px;
			}
		}
	}
	.instagram {
		.uk-thumbnail-caption {
			h3 a:before {
				content: '\f16d';
			}
		}
	}
	.youtube {
		.uk-thumbnail-caption {
			h3 a:before {
				content: '\f16a';
				color: #EC1C24;
			}
		}
		// youtube article with image
		&.ns-medium-vertical-auto {
			h3 + a {
				&:after {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					padding: $thumbnail-custom-padding-small;
					content: '\f04b';
					font-family: FontAwesome;
					color: #fff;
					background: rgba(0,0,0,.6);
				}
			}
		}
	}

}

// load more content
.ns-view-more-wrap {
	text-align: center;
	margin-bottom: 20px;
	.no-js & {
		display: none;
	}
}

