.ns-table-wrap {
	overflow-x: scroll;
	@media(min-width: $breakpoint-medium){
		overflow-x: inherit;
	}
}

.ns-single-page-content {
	table {
		width: 100%;
		max-width: 100%;
		border: 0;
		border-top: 1px solid $light-grey; 
		border-left: 1px solid $light-grey; 
		margin-bottom: $table-margin-vertical;
	    border-collapse: collapse;
		th {
			font-family: $bliss-bold; 
		}
		th, td {
			padding: $table-padding-vertical $table-padding-horizontal;
			border-right: 1px solid $light-grey;
			border-bottom: 1px solid $light-grey;
		}
	}
}
