---
title: Home
---

{{>header}}

<figure class="ns-home-image uk-overlay">
    <img src="http://lorempixel.com/1920/800/" class="uk-responsive-width" />
    <figcaption class="uk-overlay-panel">
	    <h1>Welcome to Workshop 6</h1>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    <a href="#" class="uk-button">Book</a>
    </figcaption>
</figure>

<section class="ns-generic-content yellow-bg">
  <div class="uk-container uk-container-center">
  	<h2>Welcome</h2>
  	<h3>How's it going?</h3>
  	<div class="ns-generic-text">
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
	  	<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
	  	<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
	  	<p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
	  	<p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
	  	<p>proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  	</div>
  </div>
</section>
