.ns-generic-content {
	&.yellow-bg {
		background: $yellow;
	}
	.ns-generic-text {
		column-count: 2;
	}
}

.uk-container {
	padding: $utility-container-padding-horizontal;
	@media(min-width: $breakpoint-medium){
		padding: $utility-container-padding-horizontal-large;
	}
}

// home page image/slider
.ns-home-image {
	.uk-overlay-panel {
		max-width: 300px;
		top: inherit;
	}
}