.uk-container {
  @media(min-width: $breakpoint-medium){
    padding-left: $utility-container-padding-horizontal-large;
    padding-right: $utility-container-padding-horizontal-large;
  }
}

.ns-home-image {
	.uk-position-cover {
		font-family: $tangerine;
		font-size: 60px;
		@media(min-width: $breakpoint-medium){
			font-size: 100px;				
		}
	}
}

.ns-us-intro {
	background: url(http://lorempixel.com/1920/1280/) 0 0 no-repeat;
	height: 600px;
}

.ns-photo-grid {
	background: $panel-box-background;
}