.uk-container {
  @media(min-width: $breakpoint-medium){
    padding: 0 $utility-container-padding-horizontal-large;
  }
}

.ns-us-intro {
	background: url(http://lorempixel.com/1920/1280/) 0 0 no-repeat;
	height: 600px;
}

.ns-photo-grid {
	background: $panel-box-background;
}