.ns-footer {
	.uk-container {
		padding-top: 20px;
		padding-bottom: 20px;		
	}
	.ns-social-links {
		margin-bottom: $base-margin-vertical;
		text-align: center;
		li {
			display: inline-block;
		}
		a {
			font-size: 35px;
			padding: 5px 10px;
		}
	}
}