// sidebar on generic and article list pages
.ns-single-page-sidebar {
	// align widths
	padding-left: $grid-gutter-horizontal;
	// mimic behaviour from social page
	.ns-article.social {
		&:before {
			margin-bottom: 5px;
		}
	}
	// no scroll on sidebar, remove bottom border
	.ns-scrollable-wrap .uk-scrollable-box {
		height: auto;
		li:last-child {
			border: 0;
		}
	}
	.ns-dynamic-grid .ns-medium-vertical-auto {
		max-width: 100%;
	}
}