<div class="uk-float-right uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
    <div><a href="#">Share<i class="uk-icon-share uk-margin-small-left" aria-hidden="true"></i></a></div>
    <div class="uk-dropdown">
    	<ul class="uk-list uk-margin-bottom-remove">
    		<li><a href="#" class="uk-display-block"><span>Share</span><i class="uk-icon-facebook uk-margin-small-left" aria-hidden="true"></i></a></li>
    		<li><a href="#" class="uk-display-block"><span>Tweet</span><i class="uk-icon-twitter uk-margin-small-left" aria-hidden="true"></i></a></li>
    		<li><a href="#" class="uk-display-block"><span>Share</span><i class="uk-icon-linkedin uk-margin-small-left" aria-hidden="true"></i></a></li>
    		<li><a href="#" class="uk-display-block"><span>Email</span><i class="uk-icon-envelope uk-margin-small-left" aria-hidden="true"></i></a></li>
    	</ul>
    </div>
</div>