<footer class="ns-footer" role="contentinfo">
  <h2 class="ns-sr-only">Footer navigation</h2>
  <div class="uk-container uk-container-center">
  	<ul class="uk-nav uk-clearfix ns-social-links">
  		<li><a href="#" target="_blank" class="uk-icon-facebook" data-uk-tooltip title="Like us on Facebook!"><span class="ns-sr-only">Facebook</span></a></li>
  		<li><a href="#" target="_blank" class="uk-icon-twitter" data-uk-tooltip title="Follow us on Twitter!"><span class="ns-sr-only">Twitter</span></a></li>
  		<li><a href="#" target="_blank" class="uk-icon-instagram" data-uk-tooltip title="Follow us on Instagram!"><span class="ns-sr-only">Instagram</span></a></li>
  	</ul>
    <p class="uk-text-center"><a href="tel:09-815-8961" class="uk-link-muted">09 815 8961</a> | <a href="mailto:workshopsix@gmail.com" target="_blank" class="uk-link-muted">workshopsix@gmail.com</a> | <a href="https://www.google.co.nz/maps/place/486+New+N+Rd,+Kingsland,+Auckland+1021/@-36.8725861,174.7414769,17z/data=!3m1!4b1!4m2!3m1!1s0x6d0d47b04ed11d35:0x12e60972fd783404" target="_blank" class="uk-link-muted">486 New North Rd, Kingsland, Auckland</a></p>
  </div>
</footer>