<div class="uk-clearfix ns-clear uk-container uk-container-center ns-nav-wrap">
	<nav class="ns-main-nav uk-clearfix" role="navigation">
	  <h2 class="ns-sr-only">Main navigation</h2>
	  <div class="uk-float-left uk-visible-small">
	  	<strong class="ns-curr-time">Monday 24 August 2015</strong>
	  	<p class="ns-last-updated">Last updated 3 hours ago</p>
	  </div>
	  <div class="uk-float-right uk-visible-small ns-button-wrap">
		  <button class="uk-button" data-toggle id="ns-toggle-menu"><i class="uk-icon-bars"></i><span class="ns-sr-only">Open menu</span></button>
		  <button class="uk-button ns-search-button" data-toggle id="ns-toggle-search"><i class="uk-icon-search"><span class="ns-sr-only">Open search</span></i></button>
	  </div>
	  <ul class="uk-navbar-nav" data-toggle-id="ns-toggle-menu">
		    <li {{#is basename "index"}} class="uk-active"{{/is}}{{#is basename "tag-page"}} class="uk-active"{{/is}}><a href="index.html">All</a></li>
		    <li {{#is basename "news"}} class="uk-active"{{/is}}><a href="news.html">News</a></li>
		    <li {{#contains basename "event"}} class="uk-active"{{/contains}}><a href="events.html">Events</a></li>
		    <li {{#is basename "social"}} class="uk-active"{{/is}}><a href="social.html">Social</a></li>
		    <li {{#is basename "media"}} class="uk-active"{{/is}}><a href="media.html">Media centre</a></li>
		    <li><a href="javascript:void(0);" id="ns-location-link" class="ns-location-link" data-toggle-next><i class="uk-icon-location-arrow" aria-hidden="true"></i>Location<i class="uk-icon-angle-down" aria-hidden="true"></i></a>
				<ul class="ns-location-dd uk-list" data-toggle-id>
					<li><input type="radio" id="location-all" name="location-list" checked /><label for="location-all"><i class="uk-icon-circle-o" aria-hidden="true"></i>All</label></li>
					<li><input type="radio" id="location-central" name="location-list" /><label for="location-central"><i class="uk-icon-circle-o" aria-hidden="true"></i>Central</label></li>
					<li><input type="radio" id="location-gulf" name="location-list" /><label for="location-gulf"><i class="uk-icon-circle-o" aria-hidden="true"></i>Hauraki Gulf Islands</label></li>
					<li><input type="radio" id="location-north" name="location-list" /><label for="location-north"><i class="uk-icon-circle-o" aria-hidden="true"></i>North</label></li>
					<li><input type="radio" id="location-south" name="location-list" /><label for="location-south"><i class="uk-icon-circle-o" aria-hidden="true"></i>South</label></li>
					<li><input type="radio" id="location-east" name="location-list" /><label for="location-east"><i class="uk-icon-circle-o" aria-hidden="true"></i>East</label></li>
					<li><input type="radio" id="location-west" name="location-list" /><label for="location-west"><i class="uk-icon-circle-o" aria-hidden="true"></i>West</label></li>
				</ul>
		    </li>
	  </ul>
	</nav>
	<form action="search-results.html" method="get" class="uk-form ns-search-form" data-toggle-id="ns-toggle-search" role="search">
		<label for="ns-search-field" class="ns-sr-only">Search</label>
		<input type="search" id="ns-search-field" class="ns-search-field" data-focus placeholder="Search">
		<button type="submit" class="ns-search-btn uk-hidden-small">
		    <i class="uk-icon-search"></i><span class="ns-sr-only">Search</span>
		</button>
	</form>
</div>